<%  t = Time.now
    str = "The date is #{ t.strftime("%A, %B %d, %Y") }"
%>

<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>

    <body>
        <h1>Today</h1>
        <p><%= str %>
    </body>
</html>